<div class="search-wrapper">
  <div class="search-hint">
    <mat-icon>search</mat-icon>
    <span>Try: <em>Surry Hills</em>, <em>Cottesloe</em>, <em>Wattle Street</em>, <em>4109</em></span>
  </div>
  <div class="search-box">
    <mat-form-field appearance="outline" class="search-field">
      <mat-icon matPrefix class="search-prefix-icon">location_on</mat-icon>
      <input
        matInput
        [(ngModel)]="query"
        (keydown)="onKeydown($event)"
        placeholder="Enter suburb, street address or postcode..."
        autocomplete="off"
        spellcheck="false"
      />
      <button
        *ngIf="query"
        matSuffix
        mat-icon-button
        (click)="clear()"
        aria-label="Clear"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="search-btn"
      (click)="onSearch()"
      [disabled]="query.trim().length < 2"
    >
      <mat-icon>search</mat-icon>
      Search
    </button>
  </div>
</div>
